environment: "sandbox"

authentication:
    processor_api_key: "your_processor_api_key"
    vendor_api_key: "your_vendor_api_key"

webhook:
    url: "your_webhook_url"

onboarding:
    kyb: True

test_mid: "your_test_mid"

routing_number: "011401533"
